#!/bin/bash

FILENAME=$1
SAN=$2

usage()
{
    echo "usage: ./${0##*/} <FQDN> [SAN,...]"
    echo "  SAN defaults to DNS:<FQDN> if omitted"
    echo "  example: ./${0##*/} foo.example.com DNS:foo.example.com,DNS:foo,IP:192.168.1.10"
    exit 1
}

if [ -z $FILENAME ]; then
    echo "Must provide filename"
    usage
fi

if [ -z "$SAN" ]; then
    SAN="DNS:$FILENAME"
fi

#openssl genrsa -out private_keys/$FILENAME.key
openssl req \
  -newkey rsa:2048 \
  -sha256 \
  -nodes \
  -out input/$FILENAME.csr \
  -outform PEM \
  -keyout output/$FILENAME.key \
  -subj /CN=$FILENAME \
  -reqexts SAN \
  -config <(cat {{ openssl_server_cnf_file }} \
      <(printf "\n[SAN]\nsubjectAltName=$SAN")) \
