HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits       = 2048
default_keyfile    = serverkey.pem
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]

countryName         			= Country Name (2 letter code)
countryName_default 			= {{ openssl_server_country_name }}
stateOrProvinceName         	= State or Province Name (full name)
stateOrProvinceName_default 	= {{ openssl_server_state }}
localityName                	= Locality Name (eg, city)
localityName_default        	= {{ openssl_server_locality_name }}
organizationName            	= Organization Name (eg, company)
organizationName_default  		= {{ openssl_server_organization_name }}
commonName         				= Common Name (e.g. server FQDN or YOUR name)
commonName_default 				= {{ openssl_server_common_name }}
emailAddress         			= Email Address
emailAddress_default 			= {{ openssl_server_email_address }}




####################################################################
#[ server_req_extensions ]

#subjectKeyIdentifier = hash
#basicConstraints     = CA:FALSE
#keyUsage             = digitalSignature, keyEncipherment
#subjectAltName       = @alternate_names
#nsComment            = "OpenSSL Generated Certificate"

####################################################################
#[ alternate_names ]

#DNS.1  = dns:copy
#DNS.2  = www.example.com
#DNS.3  = mail.example.com
#DNS.4  = ftp.example.com